* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle,#0b456b,#021c37,);
}

.clock {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: lightgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    transform: translate(-50%, -50%) rotate(calc(30deg * var(--n)));
    position: absolute;
    text-align: center;
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 8px;
}

.number b {
    transform: rotate(calc(-30deg * var(--n)));
    display: inline-block;
}

.center-dot {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: gray;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hour-hand {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotate-hour) * 30deg));
    width: 12px;
    height: 80px;
    background-color: black;
}

.minute-hand {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotate-minute) * 6deg));
    width: 8px;
    height: 110px;
    background-color: blue;
}

.second-hand {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotate-second) * 6deg));
    width: 4px;
    height: 140px;
    background-color: red;
}
